body {
    color: #333;
    margin: 0;
    padding: 0;
}

a, div, h1, h2, h3, h4, input, span, table, tbody, td, tr, th, thead, ul {
    margin: 0;
    padding: 0;
}

a {
    font-weight: bold;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

img {
    border: none;
}

input.readonly {
    color: #777;
}

ul {
    list-style: none;
}

ul.horizontalNavigation li {
    float: left;
    padding: 0 1em;
}

.clear {clear: both;}
.hidden {display: none;}

.button {
    outline: none;
    border-color: #24649C #24649C #1A4871;
}

.button:hover {
    border: 2px solid grey;
    margin: -2px;
}

.fadedBackground {
    background: #E6E6E6 url('../images/4x1000Fade-ffffff-e6e6e6.jpg') 0 0 repeat-x;
}

.fadedBackground2 {
    background: #FFF url('../images/4x1000Fade-e6e6e6-ffffff.jpg') 0 0 repeat-x;
}

.shadowBox td.topLeft {
    background-image: url('../images/shadows/shadow_corner_tl.png');
    background-repeat: no-repeat;
    height: 16px;
    width: 16px;
}
.shadowBox td.topMiddle {
    background-image: url('../images/shadows/shadow_middle_top.png');
    height: 10px;
}
.shadowBox td.topRight {
    background-image: url('../images/shadows/shadow_corner_tr.png');
    background-repeat: no-repeat;
    height: 16px;
    width: 21px;
}
.shadowBox td.middleLeft {
    background-image: url('../images/shadows/shadow_middle_left.png');
    width: 10px;
}
.shadowBox td.middleMiddle {
    background: white;
}
.shadowBox td.middleRight {
    background-image: url('../images/shadows/shadow_middle_right.png');
    width: 10px;
}
.shadowBox td.bottomLeft {
    background-image: url('../images/shadows/shadow_corner_bl.png');
    background-repeat: no-repeat;
    height: 21px;
    width: 16px;
}
.shadowBox td.bottomMiddle {
    background-image: url('../images/shadows/shadow_middle_bottom.png');
    height: 10px;
}
.shadowBox td.bottomRight {
    background-image: url('../images/shadows/shadow_corner_br.png');
    background-repeat: no-repeat;
    height: 21px;
    width: 21px;
}

.siteReference {
    margin: 0 auto;
}

.siteReference .siteLogo {
    float: left;
}

.siteReference .siteName {
    float: left;
}


.topline {
    height: 0.5em;
}

.invisible {
    visibility: hidden;
}