.primaryColor { color: #EE8114; }
.primaryColorBackground { background: #EE8114; }
.primaryColorBorder { border: 1px solid #EE8114; }

.secondaryColor {color: #E36F1D; }

.tertiaryColor { color: #CCC; }
.tertiaryColorBackground { background: #CCC; }
.tertiaryColorBorder { border: solid 1px #CCC; }

.auxiliaryColor {color: #999;}
.auxiliaryColorBackground {background: #999;}
.auxiliaryColorBorder {border: #999;}

.auxiliaryTitleColor {color: #777;}

.logo {
    background: url('../images/logo.png');
    border: none;
    height: 64px;
    width: 64px;
}