html {overflow-y: scroll;}
body {min-width: 900px;}

.submissionList .processingSpinner {
    display: none;
}
.submissionList.processing .processingSpinner {
    display: inline;
}
.pageReport {
    min-width: 75px;
    text-align: center;
}

.submissionGroupNavigationBox {
    line-height: 30px;
}

.submissionGroupNavigationBox .navigationButton.active,
.submissionGroupNavigationBox .navigationButton.active:hover {
    background: #88A7C3 url("../../images/background_blue_3B6E9C_88A7C3.png") repeat-x center;
    border: 1px solid #3B6E9C;
}

.submissionGroupNavigationBox .navigationButton {
    background: #C6C6C6 url("../../images/background_grey_A1A1A1_C6C6C6.png") repeat-x center;
    border: 1px solid #999;
    cursor: pointer;
    float: left;
    font-weight: bold;

    padding: 0 6px;
    margin-right: 0.5em;

    text-align: center;
    color: white;
}


.listControls .controlButton {
    background: #C6C6C6 url("../../images/background_grey_A1A1A1_C6C6C6.png") repeat-x center;
    border: 1px solid #999;
    cursor: pointer;
    float: right;
    font-size: 1px;
    padding: 4px 6px;
}

.submissionGroupNavigationBox .navigationButton:hover,
.listControls .controlButton:hover {
    background: #D2D2D2 url('../../images/background_light_grey_B4B4B4_D2D2D2.png') repeat-x center;
}

.noSelect {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#userInfo #userInfoContent {
    font-size: 0.8em;
    padding: 0.5em;
}

.navigationItem.active .inactiveImage {
    display: none;
}

.navigationItem.inactive .activeImage,
.navigationItem.inactive #userInfoContent {
    display: none;
}

#userInfo #userInfoContent .info .label {
    font-weight: bold;
}
#userInfo #userInfoContent .info .value {
    margin-left: 0.5em;
}

#portalRightColumn .title {
    background: #88A7C3 url('../../images/background_blue_3B6E9C_88A7C3.png') repeat-x;
    color: white;
    font-size: 1.4em;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 4px;
    text-align: center;
}
#portalRightColumn .subtitle {
    background: #C6C6C6 url('../../images/background_grey_A1A1A1_C6C6C6.png') repeat-x;
    color: white;
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 1px;
    text-align: center;
}


#portalBody .title {
    background: #88A7C3 url('../../images/background_blue_3B6E9C_88A7C3.png') repeat-x;
    color: white;
    font-size: 1.4em;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 4px;
    text-align: center;
}

#portalBody .subtitle {
    background: #C6C6C6 url('../../images/background_grey_A1A1A1_C6C6C6.png') repeat-x;
    color: white;
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 1px;
    text-align: center;
}

.submissionPaginator {
    margin-right: 1em;
    text-align: right;
}

.searchBoxContainer {
    height: 30px;
    width: 20em;
    float: right;
}

.searchBoxContainer input {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
    height: 30px;
    width: 12em;
    float: right;
    margin-right: 4px;
    line-height: 20px;
}

.searchBoxContainer .searchButton {
    background: #C6C6C6 url("../../images/background_blue_3B6E9C_88A7C3.png") repeat-x center;
    border: 1px solid #999;
    cursor: pointer;
    float: right;
    font-size: 1px;
    padding: 6px 12px;
}

.searchBoxContainer .searchButton:hover {
    background: #D2D2D2 url('../../images/background_light_blue_628BAF_A0B9CE.png') repeat-x center;
}

#recentSubmissions .submissionStatus {
    float: right;
}
#recentSubmissions .name {
    font-weight: bold;
}

#home .siteReference {
    float:left;
    padding-left: 1em;
    padding-top: 4em;
    width: 275px;
}

#portalRightColumn #recentSubmissions li {
    padding: 0.2em 0;
}

#portalRightColumn #recentSubmissions .name {

}
#portalRightColumn #recentSubmissions .link,
#portalRightColumn #quickLinks .link {
    padding-left: 1em;
    padding-bottom: 0.5em;
}


#portalRightColumn {
    float: right;
    margin-right: 1em;
    width: 23em;
}

#portalRightColumn #portalRightColumnDefaultContent {
    padding: 0.5em;
}

#portalRightColumn .portalSection {
    padding: 0.5em;
}

#portalRightColumn .contentSection {
    padding-top: 1em;
}

#portalRightColumn .contentSection h2 {
    border-bottom: 1px dotted #A1A1A1;
    margin-bottom: 0.5em;
}

#portalRightColumn .contentSection hr {
    border: none;
    height: 4px;
    width: 100%;
    margin: 0.2em 0;
    background-color: #A1A1A1;
    color: #A1A1A1;
}

#portalRightColumn ul {
    list-style: none;
}

#portalBody .content {
    margin-right: 24em;
}

#portalBody .content table {
    width: 100%;
}


#portalHeader {
    background: url("../../images/nav_bg.png") repeat-x scroll left top transparent;
    color: #FFFFFF;
    height: 38px;
    left: 0;
    min-width: 600px;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1000;
}
#portalHeader #mainNavigation {
    float: left;
}

#portalHeader #accountNavigation {
    float: right;
}
#portalHeader .divider {
    background: url("../../images/nav_divider.gif") no-repeat scroll right top transparent;
    float: left;
    height: 33px;
    width: 2px;
}
#portalHeader .navigationItem {
    float: left;
    font-size: 1.3em;
    padding: 5px 10px;
}
#portalHeader .navigationItem a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}
#portalHeader .navigationItemActive {
    background: url("../../images/nav_bg_active.png") no-repeat scroll center top transparent;
    height: 38px;
}

#portalBody {
    margin: 50px 15px 15px 15px;
}

.simpleTable {
    border: 1px solid #7F7F7F;
    border-collapse: separate;
    border-spacing: 0;
}
.simpleTable th {
    background: url("http://yui.yahooapis.com/2.9.0/build/assets/skins/sam/sprite.png") repeat-x scroll 0 0 #D8D8DA;
    border-bottom: 1px solid #7F7F7F;
    border-right: 1px solid #CBCBCB;
    font-size: 0.8em;
    font-weight: bold;
    padding: 5px 25px;
}
.simpleTable td {
    border-right: 1px solid #CBCBCB;
    font-size: 0.8em;
    padding: 5px;
}
.simpleTable tr.even {
    background-color: #F2F2F2;
}
.simpleTable tr:hover {
    background-color: #D6D6D6;
}


#catalog {
    width: 100%;
}
#catalog .even {
    float: left;
    clear: both;
}
#catalog .odd {
    float: right;
}
#catalog #catalogBreadcrumbs {
    line-height: 26px;
    margin-right: 20em;
}
#catalog #catalogBreadcrumbs .breadcrumbDivider {
    color: #A1A1A1;
    font-weight: bold;
    margin: 0px 5px;
}

#portalRightColumn .portalSection .catalogDescription {
    padding-top: 1em;
}

/** TODO: Reuse? */
#catalog .category .categoryHeader, #catalog #rootCategories .categoryHeader {
    background-image: url('../../images/secondaryHeader.png');
    background-position: 0 0;
    background-repeat: repeat-x;
    color: white;
    font-size: 1.4em;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 4px;
    text-align: center;
}
#catalog .category .categoryDescription, #catalog #rootCategories .categoryDescription {
    margin-bottom: 10px;
}
/** TODO: Reuse? */
#catalog .category .subcategories .subcategoriesHeader, #catalog .category .templates .templatesHeader, #catalog #rootCategories .subcategoriesHeader {
    background-image: url('../../images/secondaryHeader.png');
    background-position: 0 0;
    background-repeat: repeat-x;color: white;
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 1px;
    text-align: center;
}

/** REFACTOR */
/** PART 1 (proper namespace) */
#catalog .subcategory {
    background-color: #EEEEEE;
    border: 1px dotted #A1A1A1;
    margin-bottom: 10px;
    width: 49%;
}
#catalog .subcategory:hover {
    background-color: #FFFFFF;
    cursor: pointer;
}
#catalog .subcategory .description {
    padding: 5px;
}
#catalog .subcategory .image {
    float: right;
    padding: 5px;
}
#catalog .subcategory .name{
    border-bottom: 1px dotted #A1A1A1;
    color: #00427E;
    font-weight: bold;
    margin-bottom: 5px;
    padding: 5px;
}

/** PART 2 */
/*#catalog .category .subcategories .subcategory, #catalog #rootCategories .rootCategory {
    background-color: #EEEEEE;
    border: 1px dotted #A1A1A1;
    margin-bottom: 10px;
    width: 49%;
}
#catalog .category .subcategories .subcategory:hover, #catalog #rootCategories .rootCategory:hover {
    background-color: #FFFFFF;
    cursor: pointer;
}
#catalog .category .subcategories .subcategory .description, #catalog #rootCategories .rootCategory .description {
    padding: 5px;
}
#catalog .category .subcategories .subcategory .image, #catalog #rootCategories .rootCategory .image {
    float: right;
    padding: 5px;
}
#catalog .category .subcategories .subcategory .name, #catalog #rootCategories .rootCategory .name {
    border-bottom: 1px dotted #A1A1A1;
    color: #00427E;
    font-weight: bold;
    margin-bottom: 5px;
    padding: 5px;
}*/
/** END REFACTOR */


#catalog .category .templates .template {
    margin-bottom: 10px;
}
#catalog .category .templates .template .name {
    margin-bottom: 5px;
}

#catalog .breadcrumb {
    background-color: white;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-style: solid;
    color:white;
    cursor: pointer;
    float: left;
    font-weight: bold;
    line-height: 30px;
    padding: 0 5px;
}
#catalog .breadcrumb.leftBreadcrumb {
    border-left-width: 1px;
}
#catalog .breadcrumb.searchBreadcrumb {
    margin-left: 5px;
    border-left-width: 1px;
}
#catalog .breadcrumb.inactiveBreadcrumb {
    border-color: #A1A1A1;
    background-image: url("../../images/background_grey_A1A1A1_C6C6C6.png");
    background-repeat: repeat-x;
    background-position: center;
}
#catalog .breadcrumb.inactiveBreadcrumb:hover {
    border-color: #B4B4B4;
    background-image: url("../../images/background_light_grey_B4B4B4_D2D2D2.png");
    background-repeat: repeat-x;
    background-position: center;
}
#catalog .breadcrumb.activeBreadcrumb {
    border-color: #3B6E9C;
    border-right-width: 1px;
    background-image: url("../../images/background_blue_3B6E9C_88A7C3.png");
    background-repeat: repeat-x;
    background-position: center;
}

#catalog .divider {
    background-repeat: repeat-x;
    background-position: center;
    float: left;
    height: 32px;
    width: 20px;
}
#catalog .dividerNormalNormal {
    background-image: url("../../images/breadcrumbs/divider_normal_normal.png");
}
#catalog .dividerNormalHighlight{
    background-image: url("../../images/breadcrumbs/divider_normal_highlight.png");
}
#catalog .dividerHighlightNormal {
    background-image: url("../../images/breadcrumbs/divider_highlight_normal.png");
}
#catalog .dividerHighlightBlue {
    background-image: url("../../images/breadcrumbs/divider_highlight_blue.png");
}
#catalog .dividerNormalBlue {
    background-image: url("../../images/breadcrumbs/divider_normal_blue.png");
}

#catalogSearchContent {
    padding-top: 5px;
}
#catalogSearchContent #catalogSearchLoadingDisplay {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin: 4em 0 5em 0;
}

#catalogSearchResults .match .templateName {float: left;}
#catalogSearchResults .match .matchingAttributes {float: right;}
#catalogSearchResults .match .templateDescription {clear: both; }

.searchResults {

}
.searchResults .searchQuery {
    cursor: pointer;
}

.searchResults .match {padding-top: 0.5em;}

.searchResults .match .matchingAttributes {
    float: right;
    text-align: left;
    width: 40%;
}

.searchResults .title {
    margin-bottom: 0.5em;
}

.searchResults.activeHighlighting .highlighted {
    background: khaki;
}