#searchBoxContainer {
    margin-right: 5px;
}
#searchBox {
    width: 100%;
}

#recentSubmissions .submissionStatus {
    float: right;
}
#recentSubmissions .name {
    font-weight: bold;
}

#siteReference {
    margin: 0 auto;
    padding-bottom: 1em;
}

#siteReference #siteLogo {
    float: left;
}

#siteReference #siteName {
    float: left;
}

#portalRightColumn #recentSubmissions li {
    padding: 0.2em 0;
}

#portalRightColumn #recentSubmissions .name {

}
#portalRightColumn #recentSubmissions .link,
#portalRightColumn #quickLinks .link {
    padding-left: 1em;
    padding-bottom: 0.5em;
}


#portalRightColumn {
    float: right;
    margin-right: 1em;
    padding:0.5em;
    width: 22em;
}

#portalRightColumn .portalSection {
    padding: 0.5em;
}

#portalRightColumn .contentSection {
    padding-top: 1em;
}

#portalRightColumn .contentSection h2 {
    border-bottom: 1px dotted #A1A1A1;
    margin-bottom: 0.5em;
}

#portalRightColumn .contentSection hr {
    border: none;
    height: 4px;
    width: 100%;
    margin: 0.2em 0;
    background-color: #A1A1A1;
    color: #A1A1A1;
}

#portalRightColumn ul {
    list-style: none;
}

#portalBody .content {
    margin-right: 24em;
}

#portalBody .content table {
    width: 100%;
}


#portalHeader {
    background: url("../../images/nav_bg.gif") repeat-x scroll left top transparent;
    color: #FFFFFF;
    height: 38px;
    left: 0;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1000;
}
#portalHeader #mainNavigation {
    float: left;
}

#portalHeader #accountNavigation {
    float: right;
}
#portalHeader .divider {
    background: url("../../images/nav_divider.gif") no-repeat scroll right top transparent;
    float: left;
    height: 33px;
    width: 2px;
}
#portalHeader .navigationItem {
    float: left;
    font-size: 1.3em;
    height: 38px;
    padding: 5px 10px;
}
#portalHeader .navigationItem a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}
#portalHeader .navigationItemActive {
    background: url("../../images/nav_bg_active.gif") no-repeat scroll center top transparent;
}

#portalBody {
    margin: 50px 15px 15px 15px;
}

.simpleTable {
    border: 1px solid #7F7F7F;
    border-collapse: separate;
    border-spacing: 0;
}
.simpleTable th {
    background: url("http://yui.yahooapis.com/2.9.0/build/assets/skins/sam/sprite.png") repeat-x scroll 0 0 #D8D8DA;
    border-bottom: 1px solid #7F7F7F;
    border-right: 1px solid #CBCBCB;
    font-size: 0.8em;
    font-weight: bold;
    padding: 5px 25px;
}
.simpleTable td {
    border-right: 1px solid #CBCBCB;
    font-size: 0.8em;
    padding: 5px;
}
.simpleTable tr.even {
    background-color: #F2F2F2;
}
.simpleTable tr:hover {
    background-color: #D6D6D6;
}


#catalog {
    width: 100%;
}
#catalog a {
    color: #00427E;
}

#catalog #catalogBreadcrums {
    margin-bottom: 10px;
}

#catalog .category .header {
    border-top: 4px solid #777777;
    border-bottom: 1px dotted #777777;
    padding: 5px 0px;
    margin: 0px 0px 10px 0px;
}
#catalog .category .header .description {
    margin-top: 2px;
}
#catalog .category .header .name {
    font-size: 1.3em;
}

#catalog .category .subcategories {
    border-right: 2px solid #777777;
    float: left;
    width: 18em;
}
#catalog .category .templates {
    margin-left: 19em;
}

#catalog .template .header {
    border-top: 4px solid #777777;
    border-bottom: 1px dotted #777777;
    padding: 5px 0px;
    margin: 0px 0px 10px 0px;
}
#catalog .template .header .name {
    font-size: 1.3em;
}

#catalog #rootCategories .rootCategory {
    background-color: #EEEEEE;
    border: 1px solid #CCCCCC;
    float: left;
    margin: 5px;
    padding: 10px;
    width: 40%;
}
#catalog #rootCategories .rootCategory:hover {
    background-color: #FFFFFF;
    cursor: pointer;
}
#catalog #rootCategories .rootCategory .image {
    float: right;
    margin-left: 10px;
}
#catalog #rootCategories .rootCategory .name {
    border-bottom: 1px dotted #A1A1A1;
    color: #00427E;
    font-weight: bold;
    margin-bottom: 5px;
    padding-bottom: 5px;
}
